
# Configuration file for the Tasks and methods in the feature pipeline
# This includes all the scripts in the 'features' folder

# Combining input data --------------------------------------

combine_data:
  year_intervals:  # Intervals for which population data should be interpolated
    - [1984, 2000]
    - [2000, 2005]
    - [2005, 2010]
    - [2010, 2015]
    - [2015, 2020]
  combined_data_path: "../../../data/output/combined/combined_data.parquet"

# Feature generation steps --------------------------------------

feature_generation:
  cols_to_keep:  # Non-essential columns are dropped to reduce dataframe size
    - SS  # Original PREDICTS columns
    - SSB
    - SSBS
    - Longitude
    - Latitude
    - Country
    - UN_region
    - UN_subregion
    - Realm
    - Biome
    - Ecoregion
    - Wilderness_area
    - Hotspot
    - Sample_midpoint
    - Sampling_method
    - Sampling_effort
    - Rescaled_sampling_effort
    - Max_linear_extent_metres
    - Kingdom
    - Phylum
    - Class
    - Order
    - Family
    - Taxon_name_entered
    - Diversity_metric_type
    - Measurement
    - Effort_corrected_measurement
    - Predominant_land_use
    - Use_intensity
    - Habitat_patch_area_square_metres
    - Km_to_nearest_edge_of_habitat
    - Years_since_fragmentation_or_conversion
    - Road_density_1km  # Added columns from other sources
    - Road_density_10km
    - Road_density_50km
    - Pop_density_1km
    - Pop_density_10km
    - Pop_density_50km
    - Annual_mean_temp_1km
    - Temp_seasonality_1km
    - Max_temp_warmest_month_1km
    - Min_temp_coldest_month_1km
    - Annual_precip_1km
    - Precip_wettest_month_1km
    - Precip_driest_month_1km
    - Precip_seasonality_1km
    - Annual_mean_temp_10km
    - Temp_seasonality_10km
    - Max_temp_warmest_month_10km
    - Min_temp_coldest_month_10km
    - Annual_precip_10km
    - Precip_wettest_month_10km
    - Precip_driest_month_10km
    - Precip_seasonality_10km
    - Elevation_1km
    - Slope_1km
    - Terrain_roughness_1km
    - Terrain_ruggedness_index_1km
    - Elevation_10km
    - Slope_10km
    - Terrain_roughness_10km
    - Terrain_ruggedness_index_10km

  density_vars:  # Columns related to population and road density 
    - Pop_density_1km
    - Pop_density_10km
    - Pop_density_50km
    - Road_density_1km
    - Road_density_10km
    - Road_density_50km

  bioclimatic_vars:  # Columns related to bioclimatic information
    - Annual_mean_temp_1km
    - Temp_seasonality_1km
    - Max_temp_warmest_month_1km
    - Min_temp_coldest_month_1km
    - Annual_precip_1km
    - Precip_wettest_month_1km
    - Precip_driest_month_1km
    - Precip_seasonality_1km
    - Annual_mean_temp_10km
    - Temp_seasonality_10km
    - Max_temp_warmest_month_10km
    - Min_temp_coldest_month_10km
    - Annual_precip_10km
    - Precip_wettest_month_10km
    - Precip_driest_month_10km
    - Precip_seasonality_10km

  topographic_vars:  # Columns related to topographic information
    - Elevation_1km
    - Slope_1km
    - Terrain_roughness_1km
    - Terrain_ruggedness_index_1km
    - Elevation_10km
    - Slope_10km
    - Terrain_roughness_10km
    - Terrain_ruggedness_index_10km

  land_use_col_order:  # Desired order of land use types, least to most disturbed 
    - Primary vegetation
    - Young secondary vegetation
    - Intermediate secondary vegetation
    - Mature secondary vegetation
    - Secondary vegetation (indeterminate age)
    - Plantation forest
    - Pasture
    - Cropland
    - Urban

  lui_col_order:  # Same, but also including use intensity
    - Primary vegetation_Minimal use
    - Primary vegetation_Light use
    - Primary vegetation_Intense use
    - Young secondary vegetation_Minimal use
    - Young secondary vegetation_Light use
    - Young secondary vegetation_Intense use
    - Intermediate secondary vegetation_Minimal use
    - Intermediate secondary vegetation_Light use
    - Intermediate secondary vegetation_Intense use
    - Mature secondary vegetation_Minimal use
    - Mature secondary vegetation_Light use
    - Mature secondary vegetation_Intense use
    - Secondary vegetation (indeterminate age)_Minimal use
    - Secondary vegetation (indeterminate age)_Light use
    - Secondary vegetation (indeterminate age)_Intense use
    - Plantation forest_Minimal use
    - Plantation forest_Light use
    - Plantation forest_Intense use
    - Pasture_Minimal use
    - Pasture_Light use
    - Pasture_Intense use
    - Cropland_Minimal use
    - Cropland_Light use
    - Cropland_Intense use
    - Urban_Minimal use
    - Urban_Light use
    - Urban_Intense use

  secondary_veg_col_order:  # Same, but for grouping all secondary vegetation types 
    - Secondary vegetation_Minimal use
    - Secondary vegetation_Light use
    - Secondary vegetation_Intense use

  # Path for the output dataframe after feature generation
  feature_data_path: "../../../data/output/features/feature_data.parquet"


# Alpha / beta diversity calculations --------------------------------------

diversity_metrics:
  # All diversity metrics are calculated at the site level, hence the first set
  # of groupby columns. For each of the taxonomic levels below, one dataframe
  # is created (i.e. each frame has a different level of granularity)
  groupby_cols: [SS, SSB, SSBS]  
  taxonomic_levels:
    - Kingdom
    - Phylum
    - Class
    - Order

  alpha_data_paths:
    - "../../../data/output/alpha_diversity/alpha_all_species.parquet"
    - "../../../data/output/alpha_diversity/alpha_kingdom.parquet"
    - "../../../data/output/alpha_diversity/alpha_phylum.parquet"
    - "../../../data/output/alpha_diversity/alpha_class.parquet"
    - "../../../data/output/alpha_diversity/alpha_order.parquet"

  beta_data_paths:
    - "../../../data/output/beta_diversity/beta_all_species.parquet"
    - "../../../data/output/beta_diversity/beta_kingdom.parquet"
    - "../../../data/output/beta_diversity/beta_phylum.parquet"
    - "../../../data/output/beta_diversity/beta_class.parquet"
    - "../../../data/output/beta_diversity/beta_order.parquet"    
