core/archive/
notebooks/not_shared/
notebooks/archive/
experiments/UPPMAX_COMMANDS.md
experiments/BASH_COMMANDS.md
experiments/submit_job.sh
experiments/__pycache__/

__pycache__/
*.pyc
.ipynb_checkpoints/
.virtual_documents/
.DS_Store/
.DS_Store
.env
.vscode/
.mypy_cache/
.pytest_cache/
conda-lock.yml
.pre-commit-config.yaml
